<!DOCTYPE html>
<html>

<head>
    <title>List Laptop</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

</head>

<body>
    <div class="back">
        <h1>
            <i class="fa fa-paper-plane fa-2x title" aria-hidden="true"></i>
            <br> Jasa Rakit Komputer</h1>
        <br/>
        <div class="main">
            <form name="form-rakit" action="" method="POST">
                <div class="innerForm">
                    <h3 class="titleInner ">
                        Pilih Komponen Komputer
                        <i class="fa fa-plug left" aria-hidden="true"></i>
                    </h3>
                    <hr>
                    <br/>
                    <label class="inputLabel" for="">
                        <i class="fa fa-arrow-circle-right right" aria-hidden="true"></i>
                        <b>Tipe VGA : </b>
                    </label>
                    <select name="merkVGA">
                        <option value="" selected disabled hidden>Pilih Tipe VGA</option>
                        <option value="1">GeForce GTX 1080 Ti</option>
                        <option value="2">NVIDIA TITAN X</option>
                        <option value="3">Radeon RX 480</option>
                        <option value="4">Radeon RX 470</option>
                    </select>
                    <br/>
                    <br/>
                    <br/>
                    <label class="inputLabel" for="">
                        <i class="fa fa-arrow-circle-right right" aria-hidden="true"></i>
                        <b>Tipe Hardisk : </b>
                    </label>
                    <br/>
                    <input class="text_input" placeholder="Contoh HDD 500 GB" type="text" name="tipeHardisk">
                    <br/>
                    <br/>
                    <br/>
                    <label class="inputLabel" for="">
                        <i class="fa fa-arrow-circle-right right" aria-hidden="true"></i>
                        <b>Pilih Jenis Prosessor : </b>
                    </label>
                    <br/>
                    <br/>
                    <input type="radio" id="prosesorChoice1" name="prosesor" value="i3">
                    <label class="non-blue" for="prosesorChoice1">7th Generation Intel® Core™ i3-7100U</label>
                    <br/>
                    <input type="radio" id="prosesorChoice2" name="prosesor" value="i5">
                    <label class="non-blue" for="prosesorChoice2">7th Generation Intel® Core™ i5-7200U</label>
                    <br/>
                    <input type="radio" id="prosesorChoice3" name="prosesor" value="i7">
                    <label class="non-blue" for="prosesorChoice3">7th Generation Intel® Core™ i7-7500U</label>
                    <br/>
                    <br/>
                    <br/>
                    <label class="inputLabel" for="">
                        <i class="fa fa-arrow-circle-right right" aria-hidden="true"></i>
                        <b>Memory (RAM) :</b>
                    </label>
                    <br/>
                    <input class="text_input" placeholder="Contoh 4GB DDR4 SDRAM" type="text" name="jenisRAM">
                    <br/>
                    <br/>
                    <input type="checkbox" id="touchId" name="touch" value="Ya">
                    <label class="non-blue" id="labelTouch" for="touchId">Fitur monitor touchscreen (optional) ?</label>
                    <br/>
                    <br/>
                    <button onclick="return cekValidasi()" class="btn btn-primary" type="submit">Pesan Komputer Sekarang
                    </button>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="back-table">
        <table class="table" border="1">
            <h3 class="titleInner tableTitle">List Pesanan Komputer
                <i class="fa fa-cogs  fa-lg left" aria-hidden="true"></i>
            </h3>
            <thead>
                <tr height="50" id="table-regenerate-head">
                </tr>
            </thead>
            <br/>
            <tbody id="table-regenerate-body">
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
</body>

</html>
<script type="text/javascript">
    /**     
     * Defisi Variable text untuk innerHTML     
     */

    let textHead = '';
    let textBody = '';

    /**         
     * Membuat Data Hardcoded untuk dimasukan ke dalam table header <th>      
     */

    const allDataHead = ['Tipe VGA', 'Tipe Hardisk', 'Jenis Prosesor', 'Memory (RAM)', 'Monitor Touchscreen'];

    /**         
     * Membuat Data Hardcoded untuk dimasukan ke dalam table data <td>         
     */

    const allDataBody = [
        ['NVIDIA TITAN X', 'Radeon RX 480', 'GeForce GTX 1080 Ti', 'Radeon RX 470'],
        ['HDD 1 TB', 'SSD 128 GB', 'HDD 2 TB', 'SSD 128 GB'],
        ['7th Generation Intel® Core™ i3-7100U ', '7th Generation Intel® Core™ i3-7100U',
            '7th Generation Intel® Core™ i7-7500U', '7th Generation Intel® Core™ i5-7200U'
        ],
        ['4GB LPDDR3 SDRAM', '4 GB LPDDR3 SDRAM', '16 GB DDR4 SDRAM', '16 GB DDR4 SDRAM'],
        ['Tidak', 'Ya', 'Tidak', 'Ya']
    ]


    /**    
     *  Membuat Looping dari variable allDataHead 
     *  sebagai header judul dari setiap kolom table      
     */

    for (let z = 0; z < allDataHead.length; z++) {
        textHead +=
            `<th width="160" class="thTable"> ${allDataHead[z]} </th> `;
    }

    /**     
     * Menyematkan nilai html dari perulangan allDataHead sebelumnya 
     */

    document.getElementById("table-regenerate-head").innerHTML = textHead;

    /**    
     *  Membuat Looping dari variable allDataBody 
     *  sebagai isi data dari table       
     */

    for (let i = 0; i < allDataBody.length - 1; i++) {

        textBody +=
            `<tr>
                <td> ${allDataBody[0][i]} </td> <td> ${allDataBody[1][i]} </td> 
                <td> ${allDataBody[2][i]} </td><td> ${allDataBody[3][i]} </td> 
                <td> ${allDataBody[4][i]} </td>
             </tr>`;
    }

    /**     
     * Menyematkan nilai html dari perulangan allDataBody sebelumnya 
     */

    document.getElementById("table-regenerate-body").innerHTML = textBody;

    /**     
     * Cek validasi Form dipanggil saat submit button
     * ditekan
     */

    function cekValidasi() {

        // mengambil element form yang bernama form-rakit
        var elementForm = document.forms["form-rakit"];

        /**
         * pengecekan seluruh element form 
         * dengan array value dan dengan nama          
         **/
        if (elementForm[0].value === '') {
            alert("Isi Tipe VGA dengan benar! 😑");
            return false;
        } else if (elementForm[1].value === '') {
            alert("Isi Tipe hardisk dengan benar! 😣");
            return false;
        } else if (elementForm["prosesor"].value === '') {
            alert("Isi Tipe Prosesor dengan benar! 😩");
            return false;
        } else if (elementForm[5].value === '') {
            alert("Isi Memory ram dengan benar! 😫");
            return false;
        }

        /**
         * Untuk pesan jika semua form telah terisi.
         **/

        alert("Terima kasih Pesanan Diterima 😉 ");
        return true;
    }
</script>