<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table yeah</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <table border="1">
        <caption>Table Kursus</caption>
        <tr>
            <th rowspan="2">Nama</th>
            <th colspan="2">Materi</th>
            <th colspan="2">IPK</th>
        </tr>
        <tr>
            <th>Workshop</th>
            <th>Kursus</th>
            <th>Lokal</th>
            <th>Utama</th>
        </tr>
        <tr>
            <td>Adi</td>
            <td id="xmlAdi">Introduction to XML</td>
            <td id="webaspAdi">Web Programing with ASP</td>
            <td>3.23</td>
            <td>3.47</td>
        </tr>
        <tr>
            <td rowspan="2">Ani</td>
            <td  id="VBSQL">Visual Basic With Database</td>
            <td class="VBSQLServer" rowspan="2">Visual Basic With SQL Server</td>
            <td rowspan="2">3.53</td>
            <td rowspan="2">3.64</td>
        </tr>
        <tr>
            <td id="aniOracle" >Oracle Developer Report</td>
        </tr>
        <tr>
            <td  rowspan="2">Ali</td>
            <td class="VBSQL" rowspan="2">Visual Basic With Database</td>
            <td>Introduction to Oracle: SQL and PL/SQL</td>
            <td rowspan="2">3.66</td>
            <td rowspan="2">3.39</td>
        </tr>
        <tr>
            <td class="VBSQLServer">Visual Basic With SQL Server</td>
        </tr>
    </table>


</body>

</html>