<!DOCTYPE html>
<html>

<head>
    <title>List Laptop</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.4" />

</head>

<body>
    <br/>
    <div class="back-table">
        <table class="table" border="1">
            <h3 class="titleInner tableTitle">List Pesanan Komputer
                <i class="fa fa-cogs  fa-lg left" aria-hidden="true"></i>
            </h3>
            <!-- faisal -->
            <tr>
                <th rowspan="1" class="thTable"></th>
                <th width="280" colspan="3" class="thTable">Sedang diskon 90%</th>
                <th width="280" colspan="2" class="thTable">Sedang diskon 70%</th>
            </tr>
            <tr height="50">
                <th rowspan="1" class="thTable"></th>
                <th width="160" class="thTable">Tipe VGA</th>
                <th width="100" class="thTable">Tipe Hardisk</th>
                <th width="280" class="thTable">Jenis Prosesor</th>
                <th width="240" class="thTable">Memory (RAM)</th>
                <th width="100" class="thTable">Monitor Touchscreen</th>

            </tr>

            <br/>

            <tr class="info" align="center" height="50">
                <td rowspan="4">Pesanan Barang</td>
                <td>NVIDIA TITAN X</td>
                <td>HDD 1 TB</td>
                <td>7th Generation Intel® Core™ i3-7100U </td>
                <td>4GB LPDDR3 SDRAM</td>
                <td>Tidak</td>
            </tr>
            <tr align="center" height="50">
                <td>Radeon RX 480</td>
                <td>SSD 128 GB</td>
                <td>7th Generation Intel® Core™ i3-7100U</td>
                <td>4 GB LPDDR3 SDRAM</td>
                <td>Ya</td>
            </tr>
            <tr align="center" height="50">
                <td>GeForce GTX 1080 Ti</td>
                <td>HDD 2 TB</td>
                <td>7th Generation Intel® Core™ i7-7500U</td>
                <td>16 GB DDR4 SDRAM</td>
                <td>Tidak</td>
            </tr>
            <tr align="center" height="50">
                <td>Radeon RX 470</td>
                <td>SSD 128 GB</td>
                <td>7th Generation Intel® Core™ i5-7200U</td>
                <td>16 GB DDR4 SDRAM </td>
                <td>Tidak</td>
            </tr>

        </table>
    </div>
    <br/>
    <br/>
    <br/>
</body>

</html>